@model Validation.RegistrationFormModel

<h1>Registration</h1>
<div>

</div>
<form action="/Registration" method="post">
    <div class="row">
        <div class="form-group col-12 col-sm-6">
            <label for="FirstName">First Name</label>
            <input type="text" class="form-control" id="FirstName" name="FirstName" />
            
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
        <div class="form-group col-12 col-sm-6">
            <label for="LastName">Last Name</label>
            <input type="text" class="form-control" id="LastName" name="LastName" />
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
    </div>
    <div class="form-group">
        <label for="EmailAddress">Email Address</label>
        <input type="text" class="form-control" id="EmailAddress" name="EmailAddress" />
        
        @Html.ValidationMessageFor(m => m.EmailAddress)
    </div>
    <div class="form-group">
        <label for="PhoneNumber"></label>
        <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" />
        
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>
    
    <div class="form-group">
        <label for="Address">Address</label>
        <input type="text" class="form-control" id="Address" name="Address" />
        
    </div>
    <div class="row">
        <div class="form-group col-12 col-sm-4">
            <label for="City">City</label>
            <input type="text" class="form-control" id="City" name="City" />
            
        </div>
        <div class="form-group col-12 col-sm-4">
            <label for="State">State</label>
            <select  class="form-select">
                <option value="OR">Oregon</option>
                <option value="CA">California</option>
                <option value="WA">Washington</option>
                <option value="TX">Texas</option>
                <option value="TN">Tennessee</option>
            </select>
            
        </div>
        <div class="form-group col-12 col-sm-4">
            <label for="ZipCode">Zip Code</label>
            <input type="text" class="form-control" id="ZipCode" name="ZipCode" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>