@{
    ViewBag.Title = "Homepage";
    Layout = "_Layout";
}

<h1>Final project Idea:</h1>

<p>
    My project would be a Video game information website (for overwatch), where updates to the characters and small guides about playstyle of each hero would be shown in a guide to players
</p>

<h2>Project Highlights</h2>
<ul>
    <li>Highlight 1: Login Page. Allows users to 'favorite' heroes so that their home page will show that hero's newest updates. user saved in DataBase</li>
    <li>Highlight 2: The core of the project is something I'm knowledgeable about. for scope, I can always increase/reduce heroes in project to make bigger/smaller</li>
</ul>