@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Admin!</h1>
    <p>This is the page for admins, which is different than the one for an anonymous user!</p>
</div>
