<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Happy Home</title>
    </head>
    <body>
        <h1>I'm a happy little home page</h1>
        <h2>Header Options</h2>
        <ul>
            <li>@ViewBag.Options.LabNumber</li>
            <li>@ViewBag.Options.AuthoredBy</li>
        </ul>
    </body>
</html>