:root {
    --oit-yellow: #ffd224;
    --oit-blue: #003767;
    --color-white: #ffffff;
    --color-gray: #cccccc;


    background-color: var(--color-gray);
}

body {
    margin: 0;
}

div.container {
    width: 970px;
    margin: 0 auto;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

header {
    background-color: var(--oit-blue);
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--color-white);
    height:120px;
}

.group h1 {
    margin-left: 15px;
}


#mainMenu {
    background-color: var(--oit-yellow);
    display:flex;
    flex-direction: row;
    border-bottom: 20px solid var(--color-gray);
}

#mainMenu ul {
 display:flex;
 flex-grow: 1;
 list-style-type: none;
 margin: 0;
 padding: 0;
}

#mainMenu .group li {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
}

#mainMenu ul li a{
    display:block;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

main.group {
    display:grid;
    grid-template-columns: 30% 70%;
    background-color: var(--color-white);
}

#sideMenu {
    grid-column-start: 1;
}
 
#sideMenu li {
    list-style-type: none;
    margin-left: -30px;
}

.productlist .group {
    display:flex;
    list-style-type: none;
    
}

.productlist .group li {

    padding-left: 7px;
    padding-right: 94px;
    padding-bottom: 5px;
    margin: 0;
    border: solid 1px black;
}

.productlist ul {
    margin: 0;
    padding: 0;
}
